<h1>投稿一覧</h1>

<div class="mb-3">
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>投稿者</th>
        <th></th>
      </tr>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title,post_path(post.id) %></td>
        <td><%= post.text %></td>
        <td><%= post.user.name %></td>
        <td><%= link_to_if post.user.id == current_user.id ,"編集", edit_post_path(post.id), class: "btn btn-primary" %></td>
        <td><%= link_to_if post.user.id == current_user.id , "削除", post_path(post.id), method: :delete, data: { confirm: "本当に削除していいですか？"} ,class: "btn btn-primary" %></td>
      </tr>
    <% end %>
    </thead>
  </table>
</div>

<%= link_to '新規投稿', new_post_path, class: 'btn btn-primary' %>